.feature-item {
  position: relative;
  max-width: 500px;
  margin: 2rem 0;

  @include atSmall() {
    padding-left: 94px;
  }

  @include atLarge() {
    margin: 5rem 0;
  }

  &__title {
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    
    @include atSmall() {
      font-size: 2rem;
      text-align: left;
    }
  }

  &__icon {
    display: block;
    margin: 0 auto 1rem;

    @include atSmall() {
      position: absolute;
      left: 0;
    }
  }
}