.headline {
    font-weight: 300;
    font-size: 1.9rem;

    @include atSmall() {
        font-size: 2.875rem;
    }

    &--small {
        font-size: 1.2rem;        

        @include atSmall() {
        font-size: 1.875rem;
        }
    }

    &--spacing {
        margin-bottom: 1em;
    }

    &--light {
        font-weight: 100;
    }

    &--narrow {
        max-width: 500px;
    }

    &--orange {
        color: $mainOrange;
    }

    &--centered {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}