body {
    font-family: 'Roboto', sans-serif!important;
    color: $mainBlue!important;
}

img {
    max-width: 100%;
    height: auto;
}

.row {
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 80rem!important;
}

.feature-image {
    
}